<h1> Login Form </h1> 
<form method='POST' action='/auth/login' class='control'>    
  <input class='input' type='text' name='username' placeholder='username'>  
  <input class='input' type='password' name='password' placeholder='password'>
  <button class='button is-primary'> Login </button>
</form> 